#quiz {
     height: 100%;
     width: 100%;
     background-color: rgba(19, 5, 46, 0.966);
     background-image: url('../../assets/starts.jpg');
     background-blend-mode: overlay;
     background-size: 135%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     overflow-y: hidden;
     animation: backk 7s ease-in-out alternate infinite;
     box-sizing: border-box;
}

#htown {
     width: 100%;
     height: 500px;
     position: fixed;
     bottom: 0px;
     z-index: 0;
     filter: contrast(.83);
}

@keyframes backk {
     0% {
          background-color: rgba(68, 0, 0, 0.904);
     }
     25% {
          background-color: rgba(0, 68, 59, 0.897);
     }
     50% {
          background-color: rgba(0, 22, 68, 0.938);
     }
     75% {
          background-color: rgba(68, 61, 0, 0.818);
     }
     100% {
          background-color: rgba(52, 0, 68, 0.97);
     }
}

#qBox {
     height: 100%;
     overflow-y: scroll;
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     align-items: center;
     gap: 500px;
     scrollbar-width: none;
     font-family: 'Poiret One', cursive;
     padding: 0px;
     z-index: 1;
}

#qIntro {
     display: flex;
     height: 80%;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 100px;
     color: white;
}

#qIntroHead {
     font-size: 84px;
     font-family: 'Poiret One', cursive;
}

#qIntroText {
     font-size: 28px;
     font-family: 'Poiret One', cursive;

}

.qHead {
     color: white;
     font-size: 2.5rem;
     width: 80%;
     z-index: 1;
}


@media (max-width: 809px) {
     #quiz {
          background-position-x: 70%;
          overflow: hidden;
     }

     #qIntro {
          gap: 20px;
     }

     #qIntroHead {
          font-size: 46px;
          width: 70vw;
     }

     #qIntroText {
          font-size: 18px;
          width: 70vw;

     }

}


/* Skyline PNG media queries. Imagine how fun it was to do this. */
@media (max-width: 1000px) {
     #htown {
          height: 400px;
          width: 170%;
     }
}

@media (max-width: 809px) {
     #htown {
          height: 380px;
          width: 120%;
          margin-left: 170px;
     }
}


@media (max-width: 720px) {
     #htown {
          height: 380px;
          width: 180%;
          margin-left: 170px;
     }
}

@media (max-width: 400px) {
     #htown {
          height: 380px;
          width: 270%;
          margin-left: 170px;
     }
}