#transition {
     position: absolute;
     top: 0px;
     background-color: rgb(5, 0, 15);
     height: 100vh;
     width: 100vw;
     display: grid;
     grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
     grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
     margin: 0px;
     padding: 0px;
     transition: 1.5s;
     opacity: 0.2;
     z-index: 100;
     overflow: hidden;
     z-index: 99999999999;
}

.cell {
     color: white;
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 32px;
     overflow: visible;
     background-color: black;
     font-family: 'Orbitron', sans-serif;
     border: .25px solid rgba(255, 255, 255, 0);
}


@media (max-width: 800px) {
     .cell {
          font-size: 7px;
     }
}