#question6 {
     width: 100%;
     height: 100%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 10px;
     opacity: 0;
     transition: 0.5s;
     padding-top: 10px;
}

#q6optionBox {
     width: 70%;
     height: 80%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     gap: 40px;
     border-top: 1px solid white;
     border-bottom: 1px solid white;
}

#rentContainer {
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     width: 80%;
}

.rentBox {
     width: 200px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     gap: 10px;
}

#q6ButtonBox {
     width: 70%;
     height: 10%;
     display: flex;
     align-items: center;
     justify-content: space-evenly;
}

@media (max-width: 810px) {

     #q6optionBox {
          height: 70%;
     }

     #maxBox {
          flex-direction: column-reverse;
     }

     #rentContainer {
          flex-direction: column;
          height: 70%;
          gap: 45px;
     }

     #q6ButtonBox {
          width: 90%;
          padding-top: 15px;
     }
}