.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#navBarContainer {
  height: 10%;
  width: 100%;
  box-sizing: border-box;
}

#contentContainer {
  height: 90%;
  width: 100%;
  overflow: hidden;
}


@media (max-width: 810px) {
  #contentContainer {
    height: 100%;
  }
}